@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 34% 83%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 25 75% 34%;
    --primary-foreground: 210 40% 98%;

    --secondary: 34 34% 88%;
    --secondary-foreground: 25 25% 20%;

    --muted: 34 22% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 74 12% 54%;
    --accent-foreground: 25 25% 20%;

    --destructive: 25 75% 34%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --sidebar-background: 195 9% 51%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 25 75% 34%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 74 12% 54%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 195 9% 45%;
    --sidebar-ring: 25 75% 34%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 25 75% 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 34 10% 18%;
    --secondary-foreground: 34 34% 88%;

    --muted: 34 10% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 74 12% 32%;
    --accent-foreground: 34 34% 88%;

    --destructive: 25 75% 40%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --sidebar-background: 195 9% 28%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 25 75% 34%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 74 12% 32%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 195 9% 24%;
    --sidebar-ring: 25 75% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
